{% extends 'base.html' %}

{% load static %}
{% block content %}

    {% for book in books %}
    
        <div class="card" style="width: 18rem;display:inline-block;">
                <img src="{{ book.photo.url }}" alt="..." width="200px" height="200px">
            <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <p class="card-text" dir="ltr"></p>
                <a href="{{ book.get_absolute_url }}" class="btn btn-primary">مشاهده کتاب</a>
            </div>
        </div>
        
        {% empty %}
        هیچ کتابی وجود ندارد
    {% endfor %}

{% endblock content %}