{% extends 'base.html' %}
{% load static %}

{% block header_tag %}
    <link rel="stylesheet" href="{% static 'book/css/book-detail.css' %}">
{% endblock header_tag %}

{% block content %}
    <section class="sec-first">
        <div class="sec-first-container">
            <div class="img-detail">
                <div class="img-back"></div>
                <img src="{{ book.photo.url }}">
            </div>
            <div class="container-detail">
                <span></span>
                <h1>{{book.title}}</h1>
                <p style="direction:rtl; padding-right:30px">{{book.description}}</p>

                {% if not book.reserve %}
                    <a href="{% url 'order:create-orders' book.id %}" class="reserve-btn">Reserve</a>
                {% else %}
                  <div class="reserve-book">
                    <h2>این کتاب رزرو شده است</h2>
                  </div>
                {% endif %}

            </div>
        </div>
    </section>
{% endblock %}
